body
{
background:rgba(0,0,0,0.92);
	color: #FFFFFF;
	margin: 0%;
	padding: 0%;
	transition: color,background-color 2s;
	font-family: 'Tsukimi Rounded';

}
header h1
{
	margin: 0%;
	padding: 1rem;
}
.content
{
	margin-left: 3%;
font-size: 120%
}
.homemain
{
    margin: 0 auto;
	display: block;
	border: 2px solid #30B900;
	border-radius:9px;
	width: 50%;
	height: 50%;
	
}
.homemain:hover
{

	box-shadow: 10px 10px 35px rgba(48,185,0,0.66);
		transition: box-shadow 0.5s;

	
}
.titlecall
{
	text-align: center;
	
}
header
{
	width: 100%;
	position: fixed;
background:rgba(59,59,59,1.00);
	text-align: center;
	color: #FFFFFF;
}
.divcont1
{
	
	border: 2px solid #30B900;
	border-radius:9px;
}
.sec2
{
	display: flex;
	  justify-content: space-around;
	align-content:flex-start;
}

#hedercallhome
{
	box-sizing: content-box;
	display: flex;
	justify-content: center;
}
.sec2-divs
{
	border: 3px solid #30B900;
	border-radius:9px;
	word-wrap: break-word;
	width: 29%;
	
}
.sec2-divs:hover

{

	box-shadow: 10px 10px 35px rgba(48,185,0,0.66) ;
	transition: box-shadow 0.5s;
}
.pic-home
{
	display: block;
	border: #000000;
	border-radius: 9px;
	width: 100%;
}
.ptext
{
	word-wrap: break-word;
}
a
{
	text-decoration: none;
	color: #FFFFFF;	
}
footer
{
	margin-top: 15%;
	background: rgba(59,59,59,1.00);
	
}
.footer-div
{
	
	padding-top: 1%;
	padding-bottom: 1%;
	width: 100%;
	height: 20%;
	font-size: 120%;
}
.hr1
{
 border-color: #30B900;
	width: 80%;
	margin-bottom: 3%;
}
.hr-footer
{
	width: 50%;
	margin-left: 0%;
}

.darkmod
{
	background: #FFFFFF;
	color: #000000;
	font: #000000;
	
	
	
}
.svg
{
	
	width: 2.6rem;
	height: 2.6rem;
margin-top: 0.2rem;
	color: #FFFFFF;
}
.divact
{
	
	display: flex;
	justify-content:space-around;
	
}
.divact12
{
    border: 3px solid #30B900;
    border-radius: 9px;
	
}
.divact12:hover
{
	box-shadow: 10px 10px 35px rgba(48,185,0,0.66);
	background: rgba(48,185,0,0.66);
		transition: box-shadow 0.5s;
	
}

.dave
{
    margin: 0 auto;
	display: block;
	border: 2px solid #30B900;
	border-radius:9px;
	
}
.header1111
{
	
	max-width: 19%;
	margin: 1%;
	
}
